---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
  {% if page.cover %}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@{{ site.author.twitter }}">
  <meta property="og:site_name" content="{{ site.name }}">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:url" content="http://{{ site.url }}{{ site.baseurl }}{{ page.url }}">
  <meta property="og:image" content="{{ page.cover }}">
  <meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines }}">
{% endif %}
  {% include disqus.html %}
</article>
